{% extends "base.html" %}

{% macro time_local(t) %}
{% if t %}
    {{t+(datetime.now()-datetime.utcnow())}}
{% else %}
    Unsent
{% endif %}
{% endmacro %}

{% block page_content %}
    <div>
        Menu:
        <a href="{{ url_for('main.welcome') }}">welcome</a>
        <a href="{{ url_for('main.settings') }}">settings</a>
        <a href="{{ url_for('main.receivings') }}">receivings</a>
        <a href="{{ url_for('main.sendings') }}">sendings</a>
        <a href="{{ url_for('main.sessions0') }}">sessions</a>
        <a href="{{ url_for('main.writings') }}">writings</a>
        <a href="{{ url_for('main.penpals0') }}">penpals</a>
        <!--<p>Hello (for debug), {{ user }}.</p>-->
        {%block main%}{%endblock%}
    </div>
{% endblock %}
