{% extends "layout.html" %}

{% block main %}
    <!-- begin wrapper -->
    <div class="wrapper bg-silver-lighter">
        <!-- begin btn-toolbar -->
        <div class="btn-toolbar">
            <!-- begin btn-group -->
            <div class="btn-group pull-right">
                <button class="btn btn-white btn-sm">
                    <i class="fa fa-chevron-left"></i>
                </button>
                <button class="btn btn-white btn-sm">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </div>
            <!-- end btn-group -->
            <!-- begin btn-group -->
            <div class="btn-group dropdown">
                <button class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown">
                    View All <span class="caret"></span>
                </button>
                <ul class="dropdown-menu text-left text-sm">
                    {% for one in l %}
                    <!--<li class="active"><a href="#"><i class="fa fa-circle f-s-10 fa-fw m-r-5"></i> All</a></li>-->
                    <!--<li><a href="javascript:;"><i class="fa f-s-10 fa-fw m-r-5"></i> Unread</a></li>-->
                    <li><a href="{{ url_for('main.receivings', filter='%s' % one) }}"><i class="fa f-s-10 fa-fw m-r-5"></i>{{one}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- end btn-group -->
            <!-- begin btn-group -->
            <div class="btn-group">
                <button class="btn btn-sm btn-white" data-toggle="tooltip" data-placement="top" data-title="Refresh" data-original-title="" title=""><i class="fa fa-refresh"></i></button>
            </div>
            <!-- end btn-group -->
            <!-- begin btn-group -->
            <!--<div class="btn-group">-->
                <!--<button class="btn btn-sm btn-white" data-email-action="delete"><i class="fa fa-times m-r-3"></i> <span class="hidden-xs">Delete</span></button>-->
            <!--</div>-->
            <!-- end btn-group -->
        </div>
        <!-- end btn-toolbar -->
    </div>
    <!-- end wrapper -->
    <!-- begin list-email -->
    <ul class="list-group list-group-lg no-radius list-email">
        {% for one in letters %}
        <li class="list-group-item inverse">
            <!--<div class="email-checkbox">-->
                <!--<label>-->
                    <!--<i class="fa fa-square-o"></i>-->
                    <!--<input type="checkbox" data-checked="email-checkbox" />-->
                <!--</label>-->
            <!--</div>-->
            <div class="email-info">
                <span class="email-time">{{time_local(one.write_time)}}</span>
                <h5 class="email-title">
                    <a href="{{ url_for('main.letters', lid=one.id) }}">{{one.title}}</a>
                    <span class="label">
                        <a href="{{ url_for('main.penpals', uid=one.sender.id) }}">{{one.sender.penname}}</a>
                    </span>
                    Type: {{one.NOTE_TYPE[one.type]}}
                    Status: {{one.NOTE_STATUS_RECV[one.status]}}
                </h5>
                <p class="email-desc">
                    {{one.text}}
                </p>
            </div>
        </li>
        {% else %}  <li><em>Unbelievable, No Letters received so far.</em></li>
        {% endfor %}
    </ul>
    <!-- end list-email -->
    <!-- begin wrapper -->
    <div class="wrapper bg-silver-lighter clearfix">
        <div class="btn-group pull-right">
            <button class="btn btn-white btn-sm">
                <i class="fa fa-chevron-left"></i>
            </button>
            <button class="btn btn-white btn-sm">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
        <!--<div class="m-t-5">共1封邮件</div>-->
    </div>
    <!-- end wrapper -->

    <!--<h2>Recevings</h2>-->
    <!--<p>-->
        <!--{% for one in l %}-->
            <!--<a href="{{ url_for('main.receivings', filter='%s' % one) }}">{{one}}</a>-->
        <!--{% endfor %}-->
    <!--</p>-->
    <!--<ul class="entries">-->
        <!--{% for one in letters %}-->
        <!--<li>-->
            <!--Date: {{time_local(one.write_time)}}-->
            <!--From: <a href="{{ url_for('main.penpals', uid=one.sender.id) }}">{{one.sender.penname}}</a>-->
            <!--Type: {{one.NOTE_TYPE[one.type]}}-->
            <!--Status: {{one.NOTE_STATUS_RECV[one.status]}}-->
            <!--<a href="{{ url_for('main.letters', lid=one.id) }}">view</a>-->
        <!--</li>-->
        <!--{% else %}  <li><em>Unbelievable, No Letters received so far.</em></li>-->
        <!--{% endfor %}-->
    <!--</ul>-->
{% endblock %}

{%block page_script%}
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{{ url_for('static', filename='assets/plugins/jquery/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/jquery/jquery-migrate-1.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='assets/crossbrowserjs/html5shiv.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/crossbrowserjs/respond.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/crossbrowserjs/excanvas.min.js') }}"></script>
    <![endif]-->
    <script src="{{ url_for('static', filename='assets/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
    <!-- ================== END BASE JS ================== -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{{ url_for('static', filename='assets/js/email-inbox-v2.demo.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/apps.min.js') }}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script>
        $(document).ready(function() {
            App.init();
            InboxV2.init();
        });
    </script>
{%endblock%}