{% extends "layout.html" %}

{% block main %}
    <h2>Recevings</h2>
    <p>
        {% for one in l %}
            <a href="{{ url_for('main.receivings', filter='%s' % one) }}">{{one}}</a>
        {% endfor %}
    </p>
    <ul class="entries">
        {% for one in letters %}
        <li>
            Date: {{one.write_time}}
            From: {{one.sender.penname}}
            <a href="{{ url_for('main.letters', lid=one.id) }}">view</a>
        </li>
        {% else %}  <li><em>Unbelievable, No Letters received so far.</em></li>
        {% endfor %}
    </ul>
{% endblock %}
